@model MyPortfolio_MVC.Models.TblEducation
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Eğitim Güncelleme sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.EducationId)

    <label>Okul Adı</label>
    @Html.TextBoxFor(x => x.ScoolName, new { @class = "form-control " })
    <br />

    <label>Bölüm Adı</label>
    @Html.TextBoxFor(x => x.Department, new { @class = "form-control " })
    <br />

    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control " })
    <br />

    <label>Başlama Tarihi </label>
    <input type="datetime" name="StarDate" value="@Model.StarDate.ToString("d")" class="form-control" />
    <br />

    <label>Bitiş Tarihi  <span><strong>(Eğer Devam Ediyorsa Bos Bırakın)</strong></span></label>
    <input type="datetime" value="@(Model.EndDate.HasValue ? Model.EndDate.Value.ToString("d") : "")" name="EndDate" class="form-control" />
    <br />

    <label>Derece <span><strong>(Lisans,önlisans,YüksekLisans vs.)</strong></span></label>
    <select name="Degree" class="form-control">
        <option disabled>Seçimizi Yapın</option>
        <option value="ÖnLisans" @(Model.Degree=="Önlisans"?"selected":" ")>ÖnLisans</option>
        <option value="Lisans" @(Model.Degree=="Lisans"?"selected":" ")>Lisans</option>
        <option value="Yüksek Lisans@(Model.Degree=="Yüksek lisans"?"selected":" ")">Yüksek Lisans</option>
    </select>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
    <br />

</form>

