@model List<MyPortfolio_MVC.Models.TblProject>
<section id="works" class="s-works target-section">


    <div class="row works-portfolio">

        <div class="column lg-12" data-animate-block>

            <h2 class="text-pretitle" data-animate-el>
               Projelerim
            </h2>
            <p class="h1" data-animate-el>
                Daha önce geliştirdiğim projelere göz atabilirsiniz.
            </p>

            <ul class="folio-list row block-lg-one-half block-stack-on-1000">
            @{ 
                int count1 = 0;
                int count2 = 0;
            }

            @foreach(var item in Model)
            {
                count1++;

                <li class="folio-list__item column" data-animate-el>
                    <a class="folio-list__item-link" href="#modal-@count1">
                        <div class="folio-list__item-pic">
                            <img src="@item.ImageUrl"
                                 srcset="@item.ImageUrl 1x, @item.ImageUrl 2x" alt="">
                        </div>

                        <div class="folio-list__item-text">
                            <div class="folio-list__item-cat">
                                @item.TblCategory.Name
                            </div>
                            <div class="folio-list__item-title">
                                @item.Name
                            </div>
                        </div>
                    </a>
                    <a class="folio-list__proj-link" href="#" title="project link">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    </a>
                </li> <!--end folio-list__item -->
             }

              

            </ul> <!-- end folio-list -->

        </div> <!-- end column -->
        <!-- Modal Templates Popup
        -------------------------------------------- -->
    @foreach (var item in Model)
    {
        count2++;


        <div id="modal-@count2" hidden>
            <div class="modal-popup">
                <img src="@item.ImageUrl" alt="">

                <div class="modal-popup__desc">
                    <h5>@item.Name</h5>
                    <p>@item.Description</p>
                    <ul class="modal-popup__cat">
                        <li>@item.TblCategory.Name</li>
                    </ul>
                </div>

                <a href="@item.GithubUrl" target="_blank" class="modal-popup__details">Github Linki</a>
            </div>
        </div> <!-- end modal -->
    }

        <div id="modal-02" hidden>
            <div class="modal-popup">
                <img src="images/portfolio/gallery/g-lamp.jpg" alt="">

                <div class="modal-popup__desc">
                    <h5>The White Lamp</h5>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <ul class="modal-popup__cat">
                        <li>Branding</li>
                    </ul>
                </div>

                <a href="https://www.behance.net/" class="modal-popup__details">Project link</a>
            </div>
        </div> <!-- end modal -->


    </div> <!-- end works-portfolio -->


    <div class="row testimonials">
        <div class="column lg-12" data-animate-block>

            <div class="swiper-container testimonial-slider" data-animate-el>

                <div class="swiper-wrapper">

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Tim Cook</strong>
                                <span>CEO, Apple</span>
                            </cite>
                        </div>
                        <p>
                            Molestiae incidunt consequatur quis ipsa autem nam sit enim magni. Voluptas tempore rem.
                            Explicabo a quaerat sint autem dolore ducimus ut consequatur neque.  Nisi dolores quaerat fuga rem nihil nostrum.
                            Laudantium quia consequatur molestias delectus culpa.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-03.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Sundar Pichai</strong>
                                <span>CEO, Google</span>
                            </cite>
                        </div>
                        <p>
                            Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                            Nisi eaque consequatur. Voluptatem dignissimos ut ducimus accusantium perspiciatis.
                            Quasi voluptas eius distinctio. Atque eos maxime.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Satya Nadella</strong>
                                <span>CEO, Microsoft</span>
                            </cite>
                        </div>
                        <p>
                            Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                            Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.
                            Voluptatem dignissimos ut.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="images/avatars/user-06.jpg" alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>Jeff Bezos</strong>
                                <span>CEO, Amazon</span>
                            </cite>
                        </div>
                        <p>
                            Nunc interdum lacus sit amet orci. Vestibulum dapibus nunc ac augue. Fusce vel dui. In ac felis
                            quis tortor malesuada pretium. Curabitur vestibulum aliquam leo. Qui sed at corrupti expedita voluptas odit.
                            Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                        </p>
                    </div> <!-- end testimonial-slider__slide -->

                </div> <!-- end swiper-wrapper -->

                <div class="swiper-pagination"></div>

            </div> <!-- end swiper-container -->

        </div> <!-- end column -->
    </div> <!-- end row testimonials -->

</section>