@model List<MyPortfolio_MVC.Models.TblExperience>
<div class="column lg-6 tab-12" id="experience">

    <h2 class="text-pretitle" data-animate-el>
        Deneyİmlerİm
    </h2>

    <div class="timeline" data-animate-el>

        
     @foreach (var item in Model)
      {
        <div class="timeline__block">
            <div class="timeline__bullet"></div>
            <div class="timeline__header">
                <h4 class="timeline__title">@item.CompanyName</h4>
                <h5 class="timeline__meta">@item.Title</h5>
                <p class="timeline__timeframe">@item.StarDate.Value.ToString("Y") - @(item.EndDate.HasValue?
                 item.EndDate.Value.ToString("Y") : "DEVAM EDİYOR" ) </p>
            </div>
            <div class="timeline__desc">
                <p>@item.Description</p>
            </div>
        </div>
      }
    </div> <!-- end timeline -->

</div>