
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@*@Html.Partial("~/Views/AdminLayout/AdminLayoutHead.cshtml")*@
@Html.Action("AdminLayoutHead", "AdminLayout")

<body>
    <div class="container-fluid position-relative d-flex p-0">
        @Html.Action("AdminLayoutSpinner", "AdminLayout")
       
       
        @Html.Action("AdminLayoutSidebar", "AdminLayout")
       
        <div class="content">
          
            @Html.Action("AdminLayoutNavbar", "AdminLayout")
           
            <div class="container-fluid pt-4 px-4">
               
                <div class="col-12 bg-secondary">
                
                    @RenderBody()
               
                </div>
            
            </div>
           
            @Html.Action("AdminLayoutFooter", "AdminLayout")
       
        </div>
        
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    
    @Html.Action("AdminLayoutScripts", "AdminLayout")

</body>

</html>
